---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
              <div class="meta">
                Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span>
                By <a target="_blank" href="{{site.url}}"></a>
                <span id="busuanzi_container_page_pv">
                  阅读量<span id="busuanzi_value_page_pv"></span>次
                </span>
              </div>
              <br />
            </header>
            <article class="post-content">
              {{ content }}
            </article>
            <script src="https://giscus.app/client.js"
                  data-repo="liuxm0239/liuxm0239.github.io"
                  data-repo-id="R_kgDOIDU6Sw"
                  data-category="Announcements"
                  data-category-id="DIC_kwDOIDU6S84Cf7AQ"
                  data-mapping="title"
                  data-strict="0"
                  data-reactions-enabled="1"
                  data-emit-metadata="0"
                  data-input-position="bottom"
                  data-theme="light_protanopia"
                  data-lang="zh-CN"
                  crossorigin="anonymous"
                  async>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

